//colors
$light-blue: #9cfcf0;
$blue: #5796ff;
$dark-blue: #192eea;
$black: #000000;
$white: #ffffff;
$dark-grey: #222222;
$red: #eb5757;
$green: #27ae60;
$grey: #e5e5e5;
//fonts size
$text: 4.8rem;
$title: 19rem;

//font family
$inter: "Inter", sans-serif;
$fira-sans: "Fira Sans", sans-serif;
